@{
    Layout = "~/Views/Shared/_LayoutNotMenu.cshtml";

}


<form id="login-form">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">Login Profile</h4>
                            <p class="card-category">Please Fill In The Requested Information</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">E-Mail</label>
                                        <input type="text" id="email" name="email" required="required" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Password</label>
                                        <input type="password" id="password" name="password" required="required" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <button type="submit"class="btn btn-primary pull-right" >Login Profile</button>
                            <div id="register-link" class="text-right">
                                    <a class="d-block text-center mt-2 small" asp-controller="Home" asp-action="Register">Register</a>
                                </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</form>


<script>
    $("#login-form").submit(function (e) {

        var _email = $("#email").val();
        var _password = $("#password").val();

        var user = {
            Email: _email,
            Password: _password
        };

        $.ajax({
            url: '/api/UserApi/LoginControl',
            type: 'POST',
            data: JSON.stringify(user),
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            success: function (data) {
                console.log('success');
                if (data) {
                    window.location.href = "@Url.Action("NoteList", "Home")";
                   
                }            

            },
            error: function (data) {
                console.log('error');
            }

        });
        return false;
    });
</script>







